h1{
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
}
h2{
    margin-bottom: 62px;
    font-size: 36px;
    font-weight: 300;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}
h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}
a,p,span,li{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333635;
}
main{
    overflow: hidden;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
}
.button{
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
}
.button__body{
    color: #ffffff;
}
.button--gray{
    background-color: #4D4D4D;
}
.button--gray:hover{
    background: linear-gradient(93.71deg, #4D4D4D 9.27%, #464646 96.5%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25), 0px 2px 0px #282828;
}
.button--gray:active{
    background-color: #4D4D4D;
    box-shadow: none;
}
.button--gray:active .button__body{
        color: #aaaaaa;
}
.button--green{
    background-color: #28a267;
}
.button--green:hover{
    background: linear-gradient(107.8deg, #28A267 37.85%, #2E9262 74.68%);
    box-shadow: 0px 0px 40px rgba(94, 236, 168, 0.35), 0px 2px 0px #145C3A;
}
.button--green:active{
    background-color: #28a267;
    box-shadow: none;
}
.button--green:active .button__body{
    color: #C5F5DE;
}
.button--red{
    background-color: #e9341b;
}
.button--red:hover{
    background: linear-gradient(92.35deg, #E9341B 6.1%, #D02E17 96.13%);
    box-shadow: 0px 2px 0px #AD1C09, 0px 0px 40px rgba(242, 108, 90, 0.35);
}
.button--red:active{
    background-color: #e9341b;
    box-shadow: none;
}
.button--red:active .button__body{
    color: #FFD7D1;
}
.button--transparent{
    background: transparent;
    border: 2px solid #28A167;
    color: #28A167;
}
.button--transparent .button__body{
    color: #28A167;
}
.text_color_red{
    color: #e9341b;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: inherit;
}
.text--medium{
    color: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: inherit;
}
.text--bold{
    color: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: inherit;
    text-transform: inherit;
}
.discount{
    font-size: 120px;
    font-weight: 700;
    line-height: 112px;
    color: #E9341B;
}
.cross{
    position: absolute;
    top: 56px;
    left: 16%
}
.cross-horizontal,
.cross-vertical{
    position: absolute;
    width: 162px;
    height: 484px;
    background: #FFFFFF;
}
.cross-horizontal{
    transform: rotate(90deg);
}
._scroll-lock{
    overflow: hidden;
}
.current_nav_link{
    font-weight: 500;
}
.cta{
    position: relative;
    padding: 73px 72px 50px;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(92.24deg, #28A167 -2.53%, #63E0A4 123.83%), linear-gradient(98.25deg, rgba(248, 248, 248, 0.6) 0%, #F8F8F8 100%);
    border-radius: 36px;
}
.cta-content{
    z-index: 3;
}
.cta-text, .cta-heading{
    margin-bottom: 0;
    color: #ffffff;
}
.cta::before{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 533px;
    height: 347px;
    background: url(../img/form-blick.png);
    border-radius: 0 0 0 9%;
    z-index: 1;
}
.cta-image{
    position: absolute;
    z-index: 2;
}
.form{
    display: grid;
    gap: 16px;
}
.form-input{
    position: relative;
    padding: 18px 24px 18px 54px;
    width: 323px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 40px;
    z-index: 3;
    transition: color .2s ease-in-out;
}
.form-input:focus{
    font-weight: 500;
    color: #000000;
}
.form-input:focus+.form-input__icon{
    color: #4D4D4D;
}
.form__button{
    width: 323px;
    z-index: 3;
}
.form__accept-text{
    max-width: 308px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    z-index: 3;
}
.form-input__inner{
    position: relative;
}
.form-input__icon{
    position: absolute;
    top: 19.5px;
    left: 24px;
    z-index: 4;
    color: #E5E5E5;
    transition: color .2s ease-in-out;
}
.form-input__inner.success .form-input__icon{
    color: #28A167;
}
.form-input__inner.error .form-input{
    border: 1px solid #e9341b80;
    color: #E9341B;
}
.form-input__inner.error .form-input__icon{
    color: #E9341B;
}
.person-icon{
    top: 18.5px;
}
.mail-icon{
    top: 22px;
}

/*  header  */
header *{
    z-index: 10;
}
.header__top-bar{
    padding: 28px 55px 29px 59px;
    display: flex;
    align-items: center;
}
.burger {
    display: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
}
.burger__line {
    height: 5px;
    width: 100%;
    background-color: #3336358e;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
}
.header__logo{
    z-index: 10;
}
.header__search{
    position: relative;
    margin-left: 32px;
    max-width: 730px;
    width: 37.5%;
    height: 51px;
    z-index: 10;
}
.header__search-input{
    width: 100%;
    padding: 14px 42px;
    border: 1px solid #e5e5e5;
    border-radius: 40px;
    color: #7e8482;
}
.header__search-icon{
    position: absolute;
    right: 20px;
    top: 12px;
}
.header__search.search_pos_at_burger{
    display: none;
    margin-left: 0;
    margin-bottom: 20px;
}
.header__contacts{
    margin-left: auto;
    display: flex;
    z-index: 10;
}
.header__adress{
    margin-right: 63px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    white-space: pre-line;
}
.header__callback{
    text-align: end;
}
.header__phone{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.header__callback-button{
    margin-top: 4px;
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px dashed #28A267;
}
.header__bottom-bar{
    padding: 24px 55px 24px 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    width: 71.5%;
}
.header__nav-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__nav-item:not(:last-of-type){
    margin-right: 10px;
}
.header__nav-link{
    font-size: 18px;
    line-height: 23px;
    color: #696D6C;
}
.header__button{
    width: 269px;
}
.breadcrumb{
    background-color: #f8f8f8;
    z-index: 3;
}
.breadcrumb *{
    z-index: 3;
}
.breadcrumb__list{
    padding: 11px 62px;
    display: flex;
}
.breadcrumb__item{
    position: relative;
    margin-right: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #696D6C;
}
.breadcrumb__item::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #696D6C;
}
.breadcrumb__item.current{
    margin-right: 0;
    text-decoration: none;
}
.breadcrumb__item:before{
    content: '/';
    position: absolute;
    right: -26px;
    top: 5px;

}
.breadcrumb__item.current::before,
.breadcrumb__item.current::after{
    content: none;
}
/* First screen*/
.offers{
    position: relative;
}
.slick-track .offers__slide.slick-slide{
    position: relative;
    height: 600px;
    padding-left: 160px;
    display: flex;
    background: linear-gradient(96.56deg, rgba(242, 242, 242, 0) -17.38%, #F2F2F2 89.38%);
}
.offer__info{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
}
.offer__heading{
    display: block;
}
.offer__description{
    max-width: 582px;
    margin: 32px auto 32px;
    font-size: 18px;
    line-height: 23px;
}
.offer__form{
    max-width: 323px;
    margin: 0 auto;
}
.offer__form-phone{
    padding: 18px 24px 18px 54px;
    width: 100%;
    height: 59px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 40px;
}
.offer__form-button{
    margin: 16px 0px;
}
.offer__form-notice{
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
}
.offer__image{
    position: relative;
    width: 57%;
    background:linear-gradient(90deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 23.76%), url(../img/office.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.offer__image::before,
.offer__image::after{
    content: "";
    position: absolute;
    right: 0;
    z-index: 2;
}
.offer__image::before{
    width: 412px;
    height: 418px;
    background-image: url(../img/Vector.svg);
    top: 0;
}
.offer__image::after{
    width: 591px;
    height: 600px;
    bottom: 0;
    background-image: url(../img/Vector1.svg);
}
.slick-dots{
    position: absolute;
    bottom: 27px;
    left: calc(50% - 36px);
    display: flex;
}
.slick-dots li button{
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border: none;
    background: #e5e5e5;
    border-radius: 50%;
    color: transparent;
}
.slick-dots .slick-active button{
    background-color: #28A167;
}
.slick__arrow {
    position: absolute;
    top: calc(50% - 21px);
    z-index: 8;
    cursor: pointer;
}
.slick__arrow-left{
    left: 50px;
}
.slick__arrow-right{
    right: 50px;
    transform: rotate(180deg);
}
/*  Services  */
.services__heading{
    margin: 80px 0 65px;
    text-align: center;
}
.services__list{
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}
.service__card{
    position: relative;
    padding: 50px 50px;
    width: 469px;
    height: 354px;
    background: #F8F8F8;
    border-radius: 36px;
}
.service__card::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 349px;
    height: 341px;
    background-image: url(../img/Vector.svg);
    z-index: 2;
    transform: rotate(90deg);
}
.service__card--large{
    width: 100%;
    grid-column: span 2;
    background-image: url(../img/home.jpg);
}
.service__description{
    margin-top: 8px;
    white-space: pre-line;
}
.service__button-more{
    position: absolute;
    left: 50px;
    bottom: 22px;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #28A167;
    color: #28A167;
    border-radius: 50%;
    z-index: 7;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
}
.service__button-more:hover{
    background-color: #28a167;
    color: #ffffff;
}
.service__button-more:active{
    background-color: #2E9262;
    color: #C5F5DE;
}
.service__image-bag{
    position: absolute;
    bottom: 28px;
    left: 248px;
}
.service__image-vaccine{
    position: absolute;
    top: -23px;
    right: 46px;
}
.service__image-antigen,
.service__image-laser{
    position: absolute;
    bottom: 0;
    right: 0;
}
.service__image-tooth{
    position: absolute;
    bottom: 0;
    right: 45px;
}
.service__image-microscope{
    position: absolute;
    bottom: 0;
    right: 52px;
}
.service__image-bear,
.service__image-uzi,
.service__image-chear{
    position: absolute;
    right: 0;
    bottom: 0;
}
/*  Stocks  */
.stocks{
    padding: 80px 0;
}
.stocks__list{
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    gap: 16px;
}
.stock__card{
    position: relative;
    padding: 30px 30px 25px;
    width: 467px;
    height: 177px;
    background-color: #f8f8f8;
    border-radius: 36px;
}
.stock__card--large{
    padding: 50px;
    width: auto;
    height: 370px;
    grid-column: 2 / 62;
    grid-row: 1 / 3;
}
.stock__image-doctor{
    position: absolute;
    left: 0;
    bottom: 20px;
}
.stock__image-discount,
.stock__image-checkup{
    position: absolute;
    left: 0;
    bottom: 0;
}
.stock__card-content{
    max-width: 234px;
    margin-left: auto;
}
.stock__card--large .stock__card-content{
    max-width: 555px;
}
.stock__text{
    display: flex;
}
.stock__short-description{
    margin: 16px 0;
    line-height: 20px;
}
.stock__card--large .stock__short-description{
    font-size: 18px;
    line-height: 23px;
}
.stock__card-button{
    width: 269px;
}
.stock__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #28A167;
    border-bottom: 1px dashed #28A167;
}

/*  Consultation  */ 
.consultation{
    padding-bottom: 80px;
}
.consultation__content,
.diagnostic__content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.consultation__list-item,
.diagnostic__list-item,
.types__list-item{
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    border-bottom: 2px solid #28a26780;
    color: #000000;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
.consultation__list-item:before,
.diagnostic__list-item::before,
.types__list-item::before{
    content: '';
    position: absolute;
    right: -44px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #28A167;
    transition: all 0.2s ease-in-out;
}
.consultation__list-item:hover{
    color: #E9401B;
    border-bottom: 2px solid #e9401b80;
}
.consultation__list-item:hover::before{ 
    top: 6px;
    width: 12px;
    height: 12px;
    background: #E9401B;
    border: 2px solid #FFFFFF;
    -webkit-box-shadow: 0px 0px 22px 5px #e9401b;
    -moz-box-shadow: 0px 0px 22px 5px #e9401b;
    box-shadow: 0px 0px 22px 5px #e9401b;
}
.consultation__list-item--reverse::before,
.diagnostic__list-item--reverse::before,
.types__list-item--revers::before{
    right: auto;
    left: -44px;    
}
.endocrinologist{
    top: 86px;
    left: 20.3%;
}
.gastroenterologist{
    top: 215px;
    left: 11.5%;
}
.ultrasound{
    top: 335.5px;
    left: 9%;
}
.urologist{
    bottom: 353.5px;
    left: 15.5%;
}
.therapist{
    bottom: 233.5px;
    left: 17%;
}
.traumatologist{
    bottom: 103.5px;
    left: 15.5%;
}
.neurologist{
    top: 338.5px;
    right: 4%;
}
.pediatrician{
    bottom: 350.5px;
    right: 14.5%;
}
.doctor-zone-img{
    position: absolute;
    transition: opacity 0.7s ease-in-out;
}
.doctor-zone-img.hidden{
    opacity: 0;
}
.doctor-zone-img.visible{
    opacity: 1;
}
.docor-zones{
    position: relative;
}
.endocrinologist-zone{
    top: 105px;
    left: 307px;
}
.ultrasound-zone,
.gastroenterologist-zone{
    top: 225px;
    left: 265px;
}
.urologist-zone{
    left: 284px;
    top: 220px;
}
.therapist-zone{
    top: -26px;
    left: 117px;
}
.traumatologist-zone{
    top: -26px;
    left: 14px;
}
.lor-zone{
    left: 310px;
    top: 25px;
}
.phlebologist-zone{
    left: 157px;
}
.dantist-zone{
    top: 80px;
    left: 323px;
}
.cardiologist-zone{
    top: 152px;
    left: 320px;
}

/*  Technology  */
.technology{
    padding: 80px 0;
    background-color: #FBFBFB;
}
.technology__list{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.technology__card{
    width: 347.25px;
    display: flex;
    flex-direction: column;
}
.technology__card-image{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background-color: #ffffff;
}
.technology__card-title{
    margin: 32px 0 16px;
    font-weight: 700;
    flex-wrap: wrap;
}

/*  about  */
.about{
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}
.about__content{
    margin-bottom: 80px;
    display: flex;
}
.about__image{
    margin-right: 90px;
    width: 37.43%;
    background: #F8F8F8;
    border-radius: 36px;
    overflow: hidden;
}
.about__description{
    width: 56.38%;
}
.about__text{
    font-size: 18px;
    line-height: 23px;
}
.about__text.text--bold{
    margin: 25px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.14px;
}
.about__icons-list{
    margin-top: 64px;
    display: flex;
    align-items: center;
}
.about__icon-card{
    text-align: center;
}
.about__icon-card:nth-of-type(2){
    margin: 0 64px;
}
.about__icon-text{
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    white-space: pre-line;
}
.about__elipse{
    position: absolute;
    top: 150px;
    left: -233px;
    width: 642px;
    height: 642px;
    background: #F8F8F8;
    border-radius: 50%;
    z-index: -1;
}
.about__cta-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.about__cta-heading{
    margin-bottom: 16px;
}
.about__cta-text{
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    white-space: pre-line;
}
.about__cta-form .form-input__email{ 
    grid-row: 1/2;
    grid-column: 1/2;
}
.about__cta-form .form__button{
    width: 312px;
    grid-row: 1/2;
    grid-column: 2/2;
}
.about__cta-form .form__accept-text{
    grid-row: 2/2;
    grid-column: 2/2;
}
.about__cta-image{
    width: 31%;
    bottom: -4px;
    left: 0;
}

/*  contacts  */
.contacts{
    position: relative;
    overflow: hidden;
}
.contacts .container{
    position: absolute;
    width: 100%;
    top: 0;
    left: calc((100% - 1440px)/2);
    right: auto;
    display: flex;
    justify-content: space-between;
}
.contacts__info,
.contacts__appointment{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contacts__appointment{
    padding: 67px 0 66px;
    max-width: 402px;
}
.contacts__appointment::before{
    content: '';
    position: absolute;
    width: 588px;
    height: 110%;
    top: 0;
    right: -70px;
    background: linear-gradient(90deg, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0) 0.01%, #F8F8F8 33.19%, #F8F8F8 77.71%, rgba(248, 248, 248, 0) 102.9%);
    z-index: 1;
}
.contacts__appointment-text{
    margin: 32px 0;
    z-index: 2;
}
.contacts__appintment-heading,
.contacts__apointment-form{
    z-index: 2;
}
.contacts__apointment-form .form__button{
    width: 323px;
}
.contacts__info{
    padding: 70px 0;
}
.contacts__info::before{
    content: '';
    position: absolute;
    width: 588px;
    height: 110%;
    top: 0;
    left: -70px;
    background: linear-gradient(90deg, #F8F8F8 84.24%, rgba(248, 248, 248, 0) 102.9%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
}
.contacts__info-heading{
    z-index: 2;
}
.contacts__info-adress{
    margin: 32px 0;
    width: 233px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    z-index: 2;
}
.contacts__callback{
    text-align: center;
    z-index: 2;
}
.contacts__phone{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.contacts__callback-button{
    margin-top: 4px;
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px dashed #28A267;
}
.contacts__info-email{
    margin: 32px 0;
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px dashed #28A267;
    z-index: 2;
}
.contacts__info-icons{
    display: flex;
    z-index: 2;
}
.contacts__info-icon{
    margin: 0 6px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28A167;
    border-radius: 50%;
}
.map{
    width: 100%;
    height: 495px;
    filter: grayscale(1);
}

/* == page services ==  */
/*  diagnostic  */
.diagnostic__heading{
    margin: 80px 0 63px;
    text-align: center;
}
.clinical{
    top: 86.5px;
    left: 7%;
}
.infection{
    bottom: 274.5px;
    left: 12.5%;
}
.biochimestry{
    top: 86.5px;
    right: 9.5%;
}
.hormonical{
    right: 7%;
    bottom: 273.5px;
}

/*  services cta  */
.service-page__cta{
    margin: 80px auto;
    max-width: 1440px;
    overflow: hidden;
}
.us-page__cta,
.diagnostic-services__cta{
    margin: 80px 0;
    overflow: hidden;
}
.ha-page__cta{
    margin: 84px 0 62px;
    overflow: hidden;
}
.service-page__cta-image{
    bottom: -6px;
    left: 0;
}
.us-page__cta-image{
    bottom: -5px;
    left: 0;
    
}
.ha-page__cta-image{
    top: 0;
    left: 0;
}
.diagnostic-services__cta-image{
    left: 0;
    bottom: 0;
}
.service-page__cta-content
.dentist-page__cta-content,
.us-page__cta-content,
.ha-page__cta-content,
.diagnostic-services__cta-content{
    text-align: center;
    z-index: 3;
}
.dentist-page__cta-image{
    bottom: -4px;
    left: 80px;
}
.service-page__cta-heading,
.dentist-page__cta-heading,
.us-page__cta-heading,
.ha-page__cta-heading,
.diagnostic-services__cta-heading{
    z-index: 3;
}
.service-page__cta-text,
.dentist-page__cta-text,
.us-page__cta-text,
.ha-page__cta-text,
.diagnostic-services__cta-text{
    margin: 16px 0 42px;
    text-align: center;
    z-index: 3;
}
.service-page__cta-form .form-input__name,
.dentist-page__cta-form .form-input__name,
.us-page__cta-form .form-input__name,
.ha-page__cta-form .form-input__name,
.diagnostic-services__cta-form .form-input__name{
    grid-row: 1/2;
}
.service-page__cta-form .form-input__phone,
.dentist-page__cta-form .form-input__phone,
.us-page__cta-form .form-input__phone,
.ha-page__cta-form .form-input__phone,
.diagnostic-services__cta-form .form-input__phone{
    grid-row: 1/2;
}
.service-page__cta-form .form__button,
.dentist-page__cta-form .form__button,
.us-page__cta-form .form__button,
.ha-page__cta-form .form__button,
.diagnostic-services__cta-form .form__button{
    width: 312px;
    grid-row: 1/2;
}
.service-page__cta-form .form__accept-text,
.dentist-page__cta-form .form__accept-text,
.us-page__cta-form .form__accept-text,
.ha-page__cta-form .form__accept-text,
.diagnostic-services__cta-form .form__accept-text{
    grid-row: 2/2;
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: none;
    text-align: left;
}

/*  == Analysis page ==  */
/*  about  */
.analysis-page__about{
    position: relative;
}
.analysis-page__about .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.analysis-page__about-description{
    padding: 80px 0;
    width: 50%;
}
.analysis-page__about-heading{
    margin-bottom: 48px;
    white-space: pre-line;
}
.analysis-page__about-text{
    font-size: 18px;
    line-height: 28px;
    max-width: 621px;
}
.analysis-page__about-text:first-of-type{
    margin-bottom: 28px;
}
.analysis-page__about-image{
    width: 50%;
}
.analysis-page__about-image img{
    max-width: 60%;
    position: absolute;
    top: 0;
    right: 0;
}
.image-blur-horizontal{
    position: absolute;
    top: -105px;
    width: 1054px;
    height: 203px;
    background: #F8F8F8;
    filter: blur(50px);
}
.image-blur-vertical{
    position: absolute;
    width: 822px;
    height: 307px;
    top: 0;
    left: 75%;
    background: #F8F8F8;
    filter: blur(50px);
    transform: rotate(90deg);
}
.analysis-page__types{
    margin: 80px 0;
}
.analysis-page__types .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.analysis-page__types-heading{
    margin-bottom: 62px;
}
.analysis-page__types-content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.types__clinical{
    top: 33.5px;
    left: 18%;
}
.types__hormonical{
    top: 104.4px;
    left: 13.3%;
}
.types__gomeostaz{
    top: 196.5px;
    left: 10.5%;
}
.types__genetic{
    top: 288.5px;
    left: 13%;
}
.types__alegoric{
    bottom: 220.5px;
    left: 5.3%;
}
.types__gematology{
    bottom: 128.5px;
    left: 7.8%;
}
.types__complex{
    bottom: 36.5px;
    left: 7.3%;
}
.types__biochemestry{   
    top: 33.5px;
    right: 20%;
}
.types__bacteriology{
    top: 104.4px;
    right: 9%;
}
.types__gistology{
    top: 196.5px;
    right: 7%;
}
.types__pcr{
    top: 288.5px;
    right: 12.5%;
}
.types__onkomarker{
    bottom: 220.5px;
    right: 17.3%;
}
.types__immuno{
    bottom: 128.5px;
    right: 6.8%;
}
.types__express{
    bottom: 36.5px;
    right: 23.6%;
}

/*  pricing  */
.prices{
    padding: 80px 0 0;
    background: linear-gradient(180deg, #F7F7F7 87.89%, rgba(247, 247, 247, 0) 100%);
}
.prices__tabel{
    padding: 80px 60px;
    background-color: #ffffff;
}
.prices__tabel-heading{
    margin-top: 48px;
    text-transform: uppercase;
}
.prices__tabel-heading:first-of-type{
    margin-top: 0;
}
.prices__list li{
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.prices__service-name{
    min-width: fit-content;
    margin-right: 20px;
    font-size: 18px;
    line-height: 28px;
}
.dots{
    width: calc(100% - 40px);
    height: 28px;
    border-bottom: 1px dashed #4D4D4D;
}
.prices__service-price{
    min-width: fit-content;
    margin-left: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.prices__service-price.not-set{
    font-style: italic;
    font-weight: 400;
}
.prices__info-text{
    margin: 62px 0 80px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
}
.prices__searchbar-input{
    margin-bottom: 16px;
    padding: 14px 24px 14px 42px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 40px;
}
.prices__searchbar{
    position: relative;
}
.prices__search-icon{
    position: absolute;
    right: 24px;
    top: 12px;
}
/*  consultation page  */
.consultation-page{
    padding: 80px 0 90px;
    background: url(../img/consultation-page-bg.png) no-repeat;
    background-size: contain;
}
.consultation-page .ultrasound{
    top: 243.5px;
    right: 10.7%;
    left: auto;
}
.consultation-page .lor{
    top: 55.5px;
    left: 30%;
}
.consultation-page .endocrinologist{
    top: 139.5px;
    left: 16.5%;
}
.consultation-page .therapist{
    top: 237.5px;
    bottom: auto;
    left: 16%;
}
.consultation-page .gastroenterologist{
    top: 354px;
    left: 8.7%;
}
.consultation-page .urologist{
    bottom: 357.5px;
    left: 15.6%;
}
.consultation-page .phlebologist{
    bottom: 252.5px;
    left: 16%;
}
.consultation-page .traumatologist{
    bottom: 149.5px;
    left: 12%;
}
.consultation-page .dantist{
    top: 49.5px;
    right: 26%;
}
.consultation-page .cardiology{
    top: 146.5px;
    right: 19%;
}
.consultation-page .neurologist{
    top: auto;
    right: 4%;
    bottom: 391.5px;
}
.consultation-page .pediatrician{
    bottom: 289.5px;
    right: 16%;
}
.consultation-page__cta{
    margin: 90px auto 0;
    padding: 42px 127px 39px;
    max-width: 1440px;
}
.consultation-page__cta::before{
    bottom: 0;
}
.consultation-page__cta-content{
    z-index: 3;
}
.consultation-page__cta-heading{
    text-align: center;
    z-index: 3;
}
.consultation-page__cta-text{
    margin: 18px 0 42px;
    text-align: center;
    z-index: 3;
}
.consultation-page__cta-image{
    top: 16px;
    left: 0;
}
.consultation-page__cta .form-input__name{
    grid-column: 1/2;
}
.consultation-page__cta .form-input__phone{
    grid-column: 2/2;
}
.consultation-page__cta .form-input__select{
    grid-row: 2/3;
    grid-column: 1/2;
}
.consultation-page__cta .form__button{
    grid-row: 2/3;
    grid-column: 2/2;
}
.consultation-page__cta .form__accept-text{
    max-width: none;
    grid-row: 3/3;
    grid-column-start: 1;
    grid-column-end: 3  ;
    text-align: left;
}

/*==  doctors  ==*/
.doctors{
    padding: 80px 0;
    background: url(../img/dantist-consultation-bg.png) no-repeat;
    background-position: 50% -230px;
}
.doctors__list{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}
.doctor__card{
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #F8F8F8;
    border-radius: 36px;
    transition: all 0.3s ease-in-out;
}
.doctor__card:hover{
    background-color: #ffffff;
    box-shadow: 0px 4px 60px rgba(51, 54, 53, 0.15);
}
.doctor__card:hover .doctor__image img{
    filter: grayscale(0);
}
.doctor__image{
    max-width: 60%;
    align-self: flex-end;
}
.doctor__image img{
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;
}
.doctor__description{
    padding: 50px 0;
    width: 40%;
}
.doctor__name{
    color: #333635;
}
.doctor__speciality{
    margin: 8px 0 16px;
    color: #696D6C;
}
.doctor__text{
    margin-bottom: 36px;
}
.doctor__button {
    width: 188px;
    height: 54px;   
}
.main-directions{
    padding: 0 0 80px 0;
}
.main-directions__content{
    display: flex;
    justify-content: space-between;
}
.main-direction__directions-heading{
    margin-bottom: 16px;
    font-weight: 700;
}
.main-direction__direction-item{
    list-style:inside disc;
    line-height: 32px;
    max-width: 328.5px;
}
.dantist-consultation{
    position: relative;
    padding: 86px 0 69px;
    background: url(../img/dantist-consultation-bg.png) no-repeat;
}
.us-consultation{
    position: relative;
    padding: 86px 0 69px;
    background: url(../img/us-about-bg.png) no-repeat;
}
.dantist-consultation .container,
.us-consultation .container{
    display: flex;
}
.dantist-consultation__heading,
.us-consultation__heading{
    margin-bottom: 48px;
    text-align: left;
}
.dantist-consultation__description,
.us-consultation__description{
    width: 43.12%;
}
.dantist-consultation__list-item,
.us-consultation__list-item{
    margin: 0 0 28px 20px;
    list-style: disc;
    font-size: 18px;
    line-height: 28px;
}
.dantist-consultation__image{
    position: absolute;
    bottom: 0;
    right: 0;
}
.us-consultation__image{
    position: absolute;
    right: 10%;
    bottom: 0;
}
.dantist-consultation__image .image-blur-horizontal{
    position: absolute;
    width: 723px;
    height: 290px;
    top: -70px;
    background: #F8F8F8;
    filter: blur(40px);
}
.dantist-consultation__image .image-blur-vertical,
.us-consultation__image .image-blur-vertical{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 723px;
    height: 253px;
    background: #F8F8F8;
    filter: blur(40px);
    transform: rotate(90deg);
}  
  .select {
    width: 320px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    z-index: 10;
  }
  
  .select.active .select-panel svg:first-child rect {
    fill: #28A167;
  }
  
  .select.active .select-panel svg:last-child {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .select-panel {
    padding: 20px 24px;
    position: relative;
    cursor: pointer;
  }
  
  .select-panel svg {
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  
  .select-panel svg rect {
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  
  .select-panel svg:first-child {
    position: absolute;
    top: 21px;
    left: 25px;
  }
  
  .select-panel svg:last-child {
    position: absolute;
    top: 30px;
    right: 35px;
  }
  
  .select-panel__option {
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .select-dropdown {
    width: 100%;
    background: #fff;
    border-radius: 36px;
    padding: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 250ms;
    transition: 250ms;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }
  
  .select-dropdown.active {
    opacity: 1;
    visibility: visible;
  }
  
  .select-dropdown__option {
    padding: 18px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    -webkit-transition: 250ms;
    transition: 250ms;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  
  .select-dropdown__option:hover {
    background: #f5f1f1;
  }
main.consultation-page{
    overflow: visible;
}

/*==  Home admission page ha-page* ==*/
.ha-page__services-text{
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.ha-page__services .service__description{
    max-width: 208px;
    white-space: normal;
}
.service__image-injection,
.service__image-droppers,
.service__image-dressings{
    position: absolute;
    right: 0;
    bottom: 0;
}
.service__image-droppers{
    right: 40px;
}
.service__image-dressings{
    bottom: 60px;
}
.ha-page__advantages{
    margin: 80px 0 71px;
}
.ha-page__advantages-heading{
    margin-bottom: 80px;
}
.ha-page__advantages-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}
.advantage__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.advantage__text{
    font-weight: 400;
    line-height: 34px;
    white-space: pre-line;
}
.ihd{
    position: relative;
    margin: 0 auto;
    padding: 0 0 77px;
    max-width: 1023px;
}
.ihd__heading{
    margin-bottom: 48px;
}

.ihd__callback-phone{
    margin: 77px 0 32px;
    padding: 0 8.5px;
    display: block;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #333635;
}
.ihd__inner{
    max-width: fit-content;
}
.ihd__image{
    position: absolute;
    right: -11%;
    bottom: 0;
}
/*  diagnostic services  */
.diagnostic-services__about,
.laser-page__about{
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.26087) 23.09%, #FFFFFF 100%), url(../img/us-about-bg.png) no-repeat;
}
.diagnostic-services__about .container {
    padding: 86px 0 80px;
    display: flex;
}
.diagnostic-services__about-description{
    max-width: 621px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.diagnostic-services__about-heading{
    white-space: pre-line;
    text-align: left;
    margin-bottom: 48px;
}
.diagnostic-services__about-text{
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.diagnostic-services__about-image{
    position: absolute;
    right: 0;
    bottom: 0;
}
.diagnostic-services__about-image img{
    max-height: 556px;
}
.prices__price-info{
    margin-left: 20px;
    display: grid;
    width: fit-content;
    text-align: end;
}
.prices__price-info{
    display: flex;
}
.prices__price-info div{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.prices__price-info .prices__service-price{
    margin: 0;
}
.prices__price-info .prices__additional-price{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
.prices__price-info .prices__waiting-time{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.prices__price-info .prices__button{
    margin-left: 20px;  
    width: 200px;
    min-width: 200px;
    height: 54px;
}
/*  laser therapy*/
.laser-page__about .container{
    padding: 86px 0 97px;
}
.laser-page__about-description{
    max-width: 621px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.laser-page__about-heading{
    white-space: pre-line;
    text-align: left;
    margin-bottom: 48px;
    z-index: 3;
}
.laser-page__about-text{
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    z-index: 3;
}
.laser-page__about-image{
    position: absolute;
    right: 0;
    bottom: 0;
}
.laser-page__about-image .image-blur-vertical {
    left: -30%;
    top: 140px;
}
.laser-page .consultation-page__cta{
    margin-bottom: 83px;
}
/* doctors page */
.doctors__show-more{
    margin: 60px auto 0;
    width: 193px;
    height: 54px;

}
.doctors-page .service-page__cta{
    margin: 0 auto 80px;
}
/*  single doctor page*/
.single-doctor__info{
    background-image: url(../img/consultation-page-bg.png);
}
.single-doctor__info .container{
    margin-top: 60px;
    background: #F8F8F8;
    border-radius: 36px;
    max-width: 1374px;
}
.single-doctor__image{
    width: 40.97%;
    text-align: center;
    background: url(../img/single-doctor-image-bg.png);
}
.single-doctor__description{
    width: 59.03%;
}
.single-doctor__main-info{
    display: flex;
}
.single-doctor__description{
    padding: 50px 48px 0 80px;
}
.single-doctor__name{
    font-weight: 700;
}
.single-doctor__page .service-page__cta{
    margin-top: 0;
}

/*  footer  */
.footer{
    padding: 80px 0;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer-col{
    display: flex;
    flex-direction: column;
}
.footer__text{
    margin-top: 36px;
    max-width: 334px;
    font-weight: 300;
}
.footer__heading{
    margin-bottom: 24px;
}
.footer__link-list li:not(:last-child) {
    margin-bottom: 14px;
}
.footer__link{
    color: #000000;
    border-bottom: 2px solid #28a26780;
}
.footer__button-q{
    margin: 32px 0 16px;
    width: 228px;
}
.footer__button-a{
    width: 189px;
}
.footer__button-q .button__body,
.footer__button-a .button__body{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.footer__adress{
    margin-bottom: 32px;
    width: 233px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    z-index: 2;
}
.footer__phone{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.footer__callback-button{
    margin-top: 4px;
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px dashed #28A267;
}
.footer__email{
    margin: 32px 0 16px;
    width: fit-content;
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px dashed #28A267;
}
.footer__icons{
    display: flex;
}
.footer__icon{
    margin-right: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d4d4d;
    border-radius: 50%;
}


@media screen and (max-width: 1440px) {
    .service-page__cta{
        margin: 80px auto;
        max-width: 90%;
    }
    .consultation-page__cta{
        margin: 80px auto 0;
        padding: 42px 57px 39px;
        max-width: 90%;
    }
    .container{
        margin: 0 auto;
        max-width: 90%;
    }
    .slick-track .offers__slide.slick-slide{
        padding-left: 100px;
    }
    .button{
        height: 58px;
    }
    .header__top-bar,.header__bottom-bar{
        padding: 20px 55px;
    }
    .header__phone{
        font-size: 18px;
    }
    .header__nav-link, .header__callback-button, .header__adress, .offer__description{
        font-size: 16px;
    }
    .header__adress{
        margin-right: 30px;
    }
    .services__list{
        grid-template-columns: repeat(2, 1fr);
    }
    .stock__card{
        grid-row: 1;
    }
    .stock__card--large{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .contacts .container{
        left: 5%;
    }
    .about__cta-form .form__button{
        height: 58px;
    }
    .docor-zones{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .clinical,
    .infection{
        left: 0;
    }
    .biochimestry,
    .hormonical{
        right: 0;
    }
    .analysis-page__about-image img{
        right: auto;
        max-width: 100%;
    }
    .dantist-consultation__image{
        width: 55%;
    }
    .prices__tabel-heading{
        position: relative;
        padding-right: 44px;
        max-width: fit-content;
        cursor: pointer;
    }
    .prices__tabel-heading::before,
    .prices__tabel-heading::after{
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - 1px);
        height: 3px;
        width: 12px;
        background-color: #333635;
        transition: transform 0.5s ease-in-out;
    }
    .prices__tabel-heading::before{
        transform: rotate(45deg);
        right: 8px;
    }
    .prices__tabel-heading::after{
        transform: rotate(-45deg);
    }
    .collapsed.prices__tabel-heading::before{
        transform: rotate(-45deg);
    }
    .collapsed.prices__tabel-heading::after{
        transform: rotate(45deg);
    }
    .prices__list{
        height: auto;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
    .collapsed.prices__list{
        height: 0;
        opacity: 0;
    }
    .us-page__prices .prices__service-name{
        min-width: auto;
        max-width: 80%;
    }
    .us-page__prices .prices__service-price{
        min-width: fit-content;
    }
    .diagnostic-services__about-image{
        right: -19%;
    }
    .diagnostic-services__prices .prices__service-name{
        max-width: 50%;
        min-width: unset;
    }
    .laser-page__about-image{
        right: -65px;
    }
}
@media screen and (max-width: 1320px){
    .main-page .consultation .consultation__list-item--reverse,
    .types__list-item,
    .diagnostic__list-item,
    .consultation-page .lor,
    .consultation-page .endocrinologist,
    .consultation-page .gastroenterologist,
    .consultation-page .urologist,
    .consultation-page .therapist,
    .consultation-page .phlebologist,
    .consultation-page .traumatologist{
        left: auto;
        right: 5%;
        margin-bottom: 48px;
        width: fit-content;
    }
    .main-page .consultation__list-item,
    .types__list-item--revers,
    .diagnostic__list-item--reverse,
    .consultation-page .dantist,
    .consultation-page .cardiology,
    .consultation-page .neurologist,
    .consultation-page .pediatrician,
    .consultation-page .ultrasound{
        left: 5%;
        right: auto;
    }
    .main-page .consultation .consultation__list-item--reverse::before{
        right: -44px;
        left: auto;
    }
    .main-page .consultation__list-item::before {
        left: -44px;
        right: auto;
    }
}
@media screen and (max-width: 1240px) {
    .service-page__cta,
    .dentist-page__cta,
    .us-page__cta,
    .ha-page__cta,
    .diagnostic-services__cta{
        justify-content: center;
    }
    .service-page__cta-image,
    .dentist-page__cta-image,
    .us-page__cta-image,
    .ha-page__cta-image,
    .diagnostic-services__cta-image{
        display: none;
    }
    .consultation-page__cta-image{
        left: -80px;
    }
    .service-page__cta-form .form-input__name,
    .dentist-page__cta-form .form-input__name,
    .us-page__cta-form .form-input__name,
    .ha-page__cta-form .form-input__name,
    .diagnostic-services__cta-form .form-input__name{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .service-page__cta-form .form-input__phone,
    .dentist-page__cta-form .form-input__phone,
    .us-page__cta-form .form-input__phone,
    .ha-page__cta-form .form-input__phone,
    .diagnostic-services__cta-form .form-input__phone{
        grid-row: 1/2;
        grid-column: 2/2;
    }
    .service-page__cta-form .form__button,
    .dentist-page__cta-form .form__button,
    .us-page__cta-form .form__button,
    .ha-page__cta-form .form__button,
    .diagnostic-services__cta-form .form__button{
        grid-row: 2/2;
        grid-column: 2/2;
    }
    .service-page__cta-form .form__accept-text,
    .dentist-page__cta-form .form__accept-text,
    .us-page__cta-form .form__accept-text,
    .ha-page__cta-form .form__accept-text,
    .diagnostic-services__cta-form .form__accept-text{
        max-width: 323px;
        grid-row: 2/2;
        grid-column: 1/2;
    }
    .main-directions__content{
        flex-wrap: wrap;
        gap: 20px;
    }
    .laser-page__about-image{
        display: none;
    }

}
@media screen and (max-width: 1140px) {
    .header__search{
        display: none;
    }
    .header__search.search_pos_at_burger{
        width: 269px;
        display: block;
    }
    .header__bottom-bar{
        position: absolute;
        left: -150%;
        width: 40%;
        height: 100%;
        display: block;
        background-color: #ffffff;
        z-index: 9;
        transition: all .5s ease 0s;
    }
    .burger{
        display: block;
        margin-right: 10px;
    }
    .header__bottom-bar.active{
        left: 0;
    }
    .header__nav-list{
        display: block;
    }
    .header__nav-item{
        margin: 10px 0;
    }
    .header__nav-link{
        font-size: 20px;
    }
    .header__nav-item:not(:last-of-type){
        margin-right: 0;
    }
    .header__button{
        margin-top: 20px;
    }

    .slick-track .offers__slide.slick-slide{
        padding-left: 0;
        justify-content: center;
    }
    .offer__image{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background: linear-gradient(90deg, #F7F7F7 0%, rgba(247, 247, 247, 30%) 100%), url(/img/office.jpg) no-repeat;
    }
    .technology__list{
        justify-content: space-evenly;
    }
    .about__content{
        justify-content: center;
    }
    .about__image{
        display: none;
    }
    .cta{
        padding: 73px 32px 50px;
    }
    .map{
        height: 400px;
    }
    .contacts .container{
        position: relative;
        left: auto;
    }
    .contacts__info::before,
    .contacts__appointment::before{
        content: none;
    }
    .footer .container{
        flex-wrap: wrap;
        row-gap: 32px;
    }
    .footer-col{
        width: 50%;
        align-items: center;
        text-align: center;
    }
    .dantist-consultation__image,
    .us-consultation__image{
        display: none;
    }
    .dantist-consultation__description,
    .us-consultation__description{
        width: 100%;
    }
    .doctors__list{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .cross{
        display: none;
    }
    .offer__image::before,
    .offer__image::after{
        content: none;
    }
    .service__card{
        width: 400px;
    }
    .service__card--large{
        width: 100%;
    }
    .service__image-antigen{
        width: 260px;
    }
    .service__image-tooth{
        right: 15px;
    }
    .stock__card{
        width: 400px;
    }
    .stock__card--large{
        width: auto;
    }
    .stock__card--large .stock__card-content{
        max-width: 360px;
    }
    .discount{
        display: block;
        font-size: 90px;
        line-height: 90px;
    }
    .stock__image-doctor{
        width: 140px;
    }
    .stock__image-checkup{
        width: 120px;
    }
    .about__cta{
        justify-content: center;
    }
    .about__cta-image{
        display: none;
    }
    .docor-zones,
    .diagnostic__content img{
        display: none;
    }
    .main-page .consultation .consultation__list-item,
    .diagnostic__list-item,
    .types__list-item,
    .consultation-page .lor,
    .consultation-page .endocrinologist,
    .consultation-page .gastroenterologist,
    .consultation-page .urologist,
    .consultation-page .therapist,
    .consultation-page .phlebologist,
    .consultation-page .traumatologist,
    .consultation-page .dantist,
    .consultation-page .cardiology,
    .consultation-page .neurologist,
    .consultation-page .pediatrician{
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin-bottom: 48px;
        width: fit-content;
    }
    .consultation__doctor-list{
        display: grid;
        gap: 60px;
        row-gap: 48px;
    }
    .consultation__list-item:nth-of-type(even){
        margin-bottom: 0;
        grid-column: 2/2;
    }
    .consultation__list-item:nth-of-type(odd){
        margin-bottom: 0;
        grid-column: 1/2;
    }
    .consultation__list-item::before,
    .diagnostic__list-item::before,
    .types__list-item::before,
    .main-page .consultation .consultation__list-item--reverse::before{
        right: auto;
        left: -44px; 
    }
    .analysis-page__types-content img{
        display: none;
    }
    .analysis-page__about-image{
        display: none;
    }
    .analysis-page__about .container{
        justify-content: center;
    }
    .analysis-page__about-description{
        width: auto;
    }
    .consultation-page__cta-image{
        display: none;
    }
    .consultation-page__cta{
        justify-content: center;
    }
    .prices__service-price.not-set{
        min-width: unset;
    }
    .doctor__card{
        height: auto;
    }
    .diagnostic-services__about-image{
        display: none;
    }
}
@media screen and (max-width: 860px) {
    .header__contacts{
        height: 0;
        opacity: 0;
        transition: all .6s ease 0s;
    }
    .header__contacts.active{
        margin-left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: auto;
        opacity: 1;
    }
    .header__bottom-bar{
        width: 100%;
    }
    .header__top-bar, .header__contacts{
        flex-wrap: wrap;
    }
    .header__adress{
        margin: 15px 0;
    }
    .header__callback{
        text-align: left;
    }
    .slick-track .offers__slide.slick-slide{
        padding: 40px 10px;
        height: auto;
    }
    .slick-dots{
        bottom: 15px;
    }
    .slick__arrows{
        display: none;
    }
    .services__list{
        grid-template-columns: repeat(1, 1fr);
    }
    .service__card--large{
        grid-column: unset;
        background-position: 45% 50%;
    }
    .service__image-bag{
        bottom: 15px;
        right: 0;
        left: auto;
    }
    .stock__card{
        padding: 20px;
        grid-column: 1;
    }
    .stock__image-discount{
        display: none;
    }
    .stock__card--large{
        grid-row: 3;
    }
    .stock__card:last-of-type{
        grid-row: 2;
    }
    .ihd__inner{
        margin: 0 auto;
    }
    .ihd__callback-phone{
        margin:32px 0;
    }
    .ihd__image{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__description{
        width: 100%;
    }
    .about__icons-list{
        justify-content: center;
    }
    .contacts .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts__appointment{
        margin: 32px 0;
        padding: 32px;
        background-color: #f8f8f8;
        border-radius: 36px;
    }
    .contacts__info{
        padding: 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contacts__info-heading{
        margin-bottom: 32px;
        width: 100%;
    }
    .contacts__info-adress{
        margin: 0;
        width: 50%;
        text-align: start;
        white-space: pre-line;
    }
    .contacts__callback{
        text-align: end;
    }
    .footer__about,
    .footer__info{
        align-items: flex-start;
        text-align: left;
    }
    .footer__menu,
    .footer__contacts{
        align-items: flex-end;
        text-align: end;
    }
    .prices__tabel{
        padding: 60px 32px;
    }
    .analysis-page__types-content{
        padding-left: 50px
    }
    .doctor__image img{
        filter: grayscale(0);
    }
    .doctor__description{
        width: 60%;
    }
    .diagnostic-services__prices .prices__list li{
        flex-direction: column;
        align-items: start;
    }
    .diagnostic-services__prices .dots{
        display: none;
    }
    .diagnostic-services__prices .prices__service-name{
        max-width: 100%;
    }
    .prices__price-info{
        margin: 10px 0 0;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }
    .prices__price-info div{
        text-align: start;
    }
    .prices__price-info .prices__service-price,
    .prices__price-info .prices__additional-price{
        margin-right: 10px;
    }
    .prices__price-info .prices__button{
        margin: 0;
    }
    .consultation-page__cta::before{
        content: none;
    }
}
@media screen and (max-width: 500px){
    .service__card,
    .stock__card{
        width: 100%;
    }
    .stock__card-content{
        margin: 0;
    }
    .service__card img,
    .stock__card img{
        display: none;
    }
    .service__button-more{
        position: relative;
        margin-top: 20px;
        left: auto;
        bottom: auto;
    }
    .service__card{
        padding: 20px;
    }
    .service__card,
    .stock__card--large{
        height: auto;
    }
    .stock__card--large .stock__short-description{
        display: none;
    }
    .sctock__heading{
        text-align: center;
    }
    .stock__text{
        justify-content: center;
    }
    .discount{
        font-size: 55px;
    }
    .about__icon-card:nth-of-type(2){
        margin: 0 14px;
    }
    .contacts__info{
        display: none;
    }
    .footer{
        padding: 0 0 32px;
    }
    .footer__about{
        width: 100%;
    }
    .footer__text{
        max-width: none;
    }
    .footer__menu{
        align-items: flex-start;
        text-align: left;
    }
    .footer__info{
        align-items: flex-end;
        text-align: end;
    }
    .footer__contacts{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        align-items: center;
        justify-content: space-between;
    }
    .footer__contacts .footer__heading{
        margin: 0;
        width: 100%;
        text-align: left;
    }
    .footer__link-list li:not(:last-child){
        margin-bottom: 6px;
    }
    .footer__adress{
        margin: 0;
        max-width: 125px;
    }
    .footer__email{
        margin: 0;
    }
    .footer__button-q{
        width: 189px;
    }
    .prices__service-name{
        min-width: auto;
    }
    .consultation__list-item:nth-of-type(odd),
    .consultation__list-item:nth-of-type(even){
        grid-column: 1/1;
    }
    .doctor__card{
        flex-direction: column;
    }
    .doctor__description{
        padding: 30px;
        width: 100%;    
    }
    .doctor__image{
        align-self: center;
    }
    .prices__service-price,
    .prices__service-name{
        font-size: 14px;
    }
    .ihd__callback-phone{
        font-size: 30px;
    }
    .cta{
        padding: 73px 24px 50px;
    }
    .cta-content{
        width: 100%;
    }
    .service-page__cta-form .form__button, 
    .dentist-page__cta-form .form__button, 
    .us-page__cta-form .form__button, 
    .ha-page__cta-form .form__button,
    .diagnostic-services__cta-form .form__button{
        width: 100%;
    }
}
@media screen and (max-width:400px){
    h2{
        font-size: 28px;
    }
    .about__cta{
        padding: 20px;
    }
    .form-input,
    .form__button,
    .about__cta-form .form__button{
        margin: 0 auto;
        width: 90%;
    }
    .ihd__callback-phone{
        font-size: 26px;
    }
    .doctor__image img{
        height: 210px;
    }
    .consultation-page__cta .form-input,
    .consultation-page__cta .form__button,
    .consultation-page__cta .form-input__inner{
        width: 100%;
    }
    .select{
        width: 100%;
    }
}